@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>

<div class="container">
    <p>Aqui puede ver, editar o agrgar a un alumno</p>
    <p>Para agregar un alumno presione el boton verde</p>
    <p>Para editar un alumno presione el boton amarillo</p>
    <p>Para eliminar un alumno presione el boton rojo</p>

    <div class="row">
        <div style="float:right">
            @Html.ActionLink("Add", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>

    @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row align-items-start">

            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.NombreRol, "IdRol","Nombre"),"Selecciona una opcion", new { @class = "form-control" })
            </div>

            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido Paterno" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Buscar" class="btn btn-success" />
            </div>
        </div>
    }

    <div class="row">
        <table class="table table-hover table-bordered table-responsive" id="tblUsuario">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th class="visually-hidden">IdUsuario</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Sexo</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th class="visually-hidden">Password</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>CURP</th>
                    <th class="visually-hidden">IdRol</th>
                    <th>Rol</th>
                    <th>Imagen</th>
                    <th>Status</th>
                    <th class="visually-hidden">IdDireccion</th>
                    <th>Calle</th>
                    <th>Numero Int/Ext</th>

                    <th class="visually-hidden">IdColonia</th>
                    <th>Colonia</th>
                    <th>Codigo Postal</th>

                    <th class="visually-hidden">IdMunicipio</th>
                    <th>Municipio</th>

                    <th class="visually-hidden">IdEstado</th>
                    <th>Estado</th>
                    <th class="visually-hidden">IdPais</th>
                    <th>Pais</th>
                    <th>Eliminar</th>

                </tr>
            </thead>

            <tbody class=" table-dark table-hover table-bordered border-primary">
                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario})"><i class="bi bi-pencil-square"></a></td>
                        <td class="visually-hidden">@usuario.IdUsuario</td>
                        <td>@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>

                        <td>@usuario.FechaDeNacimiento</td>
                        <td>@usuario.Sexo</td>
                        <td>@usuario.UserName</td>
                        <td>@usuario.Email</td>
                        <td class="visually-hidden">@usuario.Password</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.Celular</td>
                        <td>@usuario.CURP</td>
                        <td class="visually-hidden">@usuario.Rol.IdRol</td>
                        <td>@usuario.Rol.Nombre</td>

                        @if (usuario.Imagen != null)
                        {
                            <td><img src="data:image/*;base64, @usuario.Imagen" style="height:175px; width:200px;" /></td>
                        }
                        else
                        {
                            <td><img id="Img" src="~/SinFoto.png" style="width:175px ; height:150px" /></td>
                        }

                        @if (usuario.Status)
                        {
                            <td>
                                @usuario.Status
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked onchange="ChangeStatus(@usuario.IdUsuario,this)">
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                @usuario.Status
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="ChangeStatus(@usuario.IdUsuario,this)">
                                </div>
                            </td>
                        }



                        <td class="visually-hidden">@usuario.Direccion.IdDireccion</td>
                        <td>@usuario.Direccion.Calle</td>
                        <td>@usuario.Direccion.NumeroInterior @usuario.Direccion.NumeroExterior</td>

                        <td class="visually-hidden">@usuario.Direccion.Colonia.IdColonia</td>
                        <td>@usuario.Direccion.Colonia.Nombre</td>
                        <td>@usuario.Direccion.Colonia.CP</td>

                        <td class="visually-hidden">@usuario.Direccion.Colonia.Municipio.IdMunicipio</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Nombre</td>

                        <td class="visually-hidden">@usuario.Direccion.Colonia.Municipio.Estado.IdEstado</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Estado.Nombre</td>

                        <td class="visually-hidden">@usuario.Direccion.Colonia.Municipio.Estado.Pais.IdPais</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Estado.Pais.Nombre</td>


                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
    {

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.material.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#tblUsuario').DataTable({
                searching: false,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });

    </script>

    <script>
        function ChangeStatus(idUsuario, e) {
            var status = e.checked
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CambiarStatus")',
                dataType: 'json',
                data: { idUsuario, status },
                success: {},
                error: function (ex) {
                    alert('Failed' + ex);
                }
            })
        }
    </script>

}