@model ML.VentaProducto
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Carrito</h2>



    <div class="row">
        <div class="col-4">
                <div>
                     @Html.ActionLink("Seguir Comprando", "GetAll", "CompraProducto", htmlAttributes: new { @class = "btn btn-success" })
                </div>
            </div>
        
    </div>

    <div class="row">

        <table class="table" id="tablaProducto">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>PrecioUnitario</th>
                    <th>Stock</th>
                    <th>Agregar</th>
                    <th>Cantidad</th>
                    <th>Desagregar</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ML.VentaProducto ventaProducto in Model.ventaProductos)
                             {
                <tr>
                    <td>@ventaProducto.Producto.Nombre </td>
                    <td>@ventaProducto.Producto.Descripcion </td>
                    <td>@ventaProducto.Producto.PrecioUnitario</td>
                    <td>@ventaProducto.Producto.Stock</td>
                        <td><a class="btn btn-outline-success " href="@Url.Action("Agregar", "CompraProducto", new { IdProducto= ventaProducto.Producto.IdProducto})"><i class="bi bi-plus"></i></a></td>
            
                    <td id="Cantidad">@ventaProducto.Cantidad</td>
                        <td><a class="btn btn-outline-danger " href="@Url.Action("Desagregar", "CompraProducto", new { IdProducto= ventaProducto.Producto.IdProducto})"><i class="bi bi-dash"></i></a></td>
                    @if (ventaProducto.Producto.Imagen != null)
                            {
                    <td><img src="data:image/jpeg;base64, @ventaProducto.Producto.Imagen" style=" height: 150px; width: 150px;" /></td>
                            }
                            else
                            {
                    <td><img src="~/productoSinImagen.png" style=" height: 150px; width: 160px;" alt="Imagen usuario"></td>
                            }
                     <td><a class="btn btn-danger " href="@Url.Action("Eliminar", "CompraProducto", new { IdProducto= ventaProducto.Producto.IdProducto})"><i class="bi bi-x-circle"></i></a></td>
                </tr>
                             }
            </tbody>
        </table>
    </div>
   

</div>



@section Scripts
{
    <script type="text/javascript">
    function Agregar(IdProducto, idEtiqueta){
          
       
         
        $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Agregar")',
                    dataType: 'json',
                    data: { IdProducto},
                    success: function(cantidad){   
                      $("#idproducto" + IdProducto).append(cantidad)
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }
                });
    };
    </script>
}